$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$border-color: #000;

.board {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  margin: 50px auto;
  width: 600px;
}

.board-row {
  border: 0;
  margin: 25px auto;
  padding: 0;
  width: 600px;
}

.board-box {
  border: 1px solid $border-color;
  float: left;
  min-height: 200px;
  min-width: 200px;
  text-align: center;
  vertical-align: middle;
}

.message {
  background: transparent;
  font-size: 20px;
  height: 40px;
  margin: 20px auto 0;
  padding: 20px;
  text-align: center;
  width: 560px;
}
