$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$white: #fff;

.board {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  margin: 50px auto;
  width: 600px;
}

.board-row {
  border: 0;
  margin: 25px auto;
  padding: 0;
  width: 600px;
}

.board-box {
  border: 1px solid $black;
  float: left;
  min-height: 200px;
  min-width: 200px;
  text-align: center;
  vertical-align: middle;
}

.message {
  background: transparent;
  font-size: 20px;
  height: 40px;
  margin: 20px auto 0;
  padding: 20px;
  text-align: center;
  width: 560px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 120px;
  text-align: center;
}

.big-button {
  background-color: $black;
  color: $white;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 120px;
  height: 300px;
  margin: 20px auto;
  text-align: center;
  width: 600px;
}

.input-field {
  background: $white;
  border: 1px solid $black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  height: 25px;
  margin: 5px auto;
  width: 600px;
}

.center {
  margin: 0 auto;
  text-align: center;
  width: 610px;
}

.little-button {
  background-color: $black;
  color: $white;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  height: 50px;
  margin: 20px auto;
  text-align: center;
  width: 150px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

.sign-notice {
  margin: 0 auto;
  padding: 50px 0 0;
  text-align: center;
  width: 610px;
}
